body {
  max-width: 1440px;
}

.nomination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 500px;
}
.nomination .sunflower {
  position: relative;
  top: -40%;
  left: 10%;
}
.nomination .orchid {
  position: relative;
  right: -5%;
  top: -50%;
}
.nomination_title {
  width: 60%;
  height: 78%;
  text-align: left;
}
.nomination_title img {
  width: 100%;
}
.nomination_title h3 {
  position: relative;
  bottom: 100%;
  text-align: left;
}
.nomination .oscars_logo {
  position: relative;
  height: 28%;
  width: 16%;
}

.site-footer::before, .site-footer::after {
  display: none;
}

.characters__swiper {
  flex-direction: column;
  width: 100%;
}

.story #characters h3 {
  align-self: first baseline;
  z-index: 2;
}

.swiper-container {
  overflow: hidden;
}

.banner {
  position: relative;
  animation: background_image_down 2s, fade_in 1.5s;
}
.banner__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__logo {
  z-index: 2;
  position: sticky;
  top: 30px;
  animation: text_image_up 1s, fade_in 1.5s, floating 7s 1.5s infinite ease-in-out;
}

#story,
#studio,
#nomination,
footer {
  opacity: 0;
  animation: fadeInBottom 1s 0.5s ease-out forwards;
}

.story__article::after,
h2::after,
#studio h2::before,
#studio h2::after,
.sunflower,
.orchid,
.site-footer ul::after {
  line-height: 0;
  animation: rotate_flower 25s linear infinite;
  overflow: auto;
}

.title__animation {
  display: inline-block;
  opacity: 0;
  transform: translateY(80px);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1s;
}

.show:nth-child(1) {
  animation: title_up 0.9s ease-in-out forwards;
}

.show:nth-child(2) {
  animation: title_up 0.6s ease-in-out forwards;
}

.show:nth-child(3) {
  animation: title_up 0.3s ease-in-out forwards;
}

@keyframes background_image_down {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floating {
  0%, 100% {
    transform: translate3d(10px, 5px, 0);
  }
  25% {
    transform: translate3d(0px, -14px, 0);
  }
  50% {
    transform: translate3d(-8px, 12px, 0);
  }
  75% {
    transform: translate3d(8px, -8px, 0);
  }
}
@keyframes rotate_flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes title_up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .banner {
    min-height: 400px;
  }
  .banner__video {
    display: none;
  }
  .banner__logo {
    display: block;
  }
}
@media (max-width: 1024px) {
  .banner {
    max-width: 1024px;
    height: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .story h2::after,
  .story__article::after,
  #studio h2::after,
  #studio h2::before,
  .nomination::before,
  .nomination::after,
  .sunflower,
  .orchid {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  #studio > div p {
    text-align: center;
  }
  #studio h2 {
    font-size: 15px;
    overflow: visible;
  }
}
@media (max-width: 700px) {
  #story h2 {
    font-size: 30px;
  }
}
@media (max-width: 1192px) {
  #story h3 {
    font-size: 26px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .story #place h3 {
    margin-bottom: -5em !important;
    font-size: 30px;
  }
  .story #place img.clouds {
    left: -20% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 574px) {
  .nomination {
    height: auto;
    flex-direction: column;
    padding-top: 20px;
  }
  .sunflower,
  .orchid {
    position: static;
    margin: 0 auto 20px;
  }
  .nomination_title {
    width: 90%;
    text-align: center;
    position: relative;
  }
  .nomination_title img {
    width: 100%;
  }
  .nomination_title h3 {
    text-align: center;
    margin: 0;
    font-size: 15px;
    position: absolute !important;
    bottom: 10%;
    left: -4%;
  }
  .oscars_logo {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 475px) and (max-width: 601px) {
  .nomination {
    height: auto;
    flex-direction: column;
    padding-top: 20px;
  }
  .nomination .sunflower,
  .nomination .orchid {
    position: static;
    margin: 0 auto 20px;
  }
  .nomination .nomination_title {
    width: 90%;
    text-align: center;
    position: relative;
  }
  .nomination .nomination_title img {
    width: 100%;
  }
  .nomination .nomination_title h3 {
    text-align: center;
    margin: 0;
    font-size: 19px;
    position: absolute !important;
    bottom: 10%;
    left: -4%;
  }
  .nomination .oscars_logo {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 602px) and (max-width: 768px) {
  .nomination {
    height: auto;
    flex-direction: column;
    padding-top: 20px;
  }
  .nomination .sunflower,
  .nomination .orchid {
    position: static;
    margin: 0 auto 20px;
  }
  .nomination .nomination_title {
    width: 90%;
    text-align: center;
    position: relative;
  }
  .nomination .nomination_title img {
    width: 100%;
  }
  .nomination .nomination_title h3 {
    text-align: center;
    margin: 0;
    font-size: 26px;
    position: absolute !important;
    bottom: 10%;
    left: -4%;
  }
  .nomination .oscars_logo {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .nomination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 500px;
  }
  .nomination .sunflower {
    position: relative;
    top: -50%;
    left: 10%;
  }
  .nomination .orchid {
    position: relative;
    right: -5%;
    top: -50%;
  }
  .nomination_title {
    width: 60%;
    height: 78%;
    text-align: left;
  }
  .nomination_title img {
    width: 100%;
  }
  .nomination_title h3 {
    position: relative;
    bottom: 46%;
    text-align: left;
    font-size: 19px;
  }
  .nomination .oscars_logo {
    position: relative;
    height: 28%;
    width: 16%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1080px) {
  .nomination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 500px;
  }
  .nomination .sunflower {
    position: relative;
    top: -50%;
    left: 10%;
  }
  .nomination .orchid {
    position: relative;
    right: -5%;
    top: -50%;
  }
  .nomination_title {
    width: 60%;
    height: 78%;
    text-align: left;
  }
  .nomination_title img {
    width: 100%;
  }
  .nomination_title h3 {
    position: relative;
    bottom: 57%;
    text-align: left;
    font-size: 24px;
  }
  .nomination .oscars_logo {
    position: relative;
    height: 28%;
    width: 16%;
  }
}
@media screen and (min-width: 1081px) and (max-width: 1380px) {
  .nomination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 500px;
  }
  .nomination .sunflower {
    position: relative;
    top: -50%;
    left: 10%;
  }
  .nomination .orchid {
    position: relative;
    right: -5%;
    top: -50%;
  }
  .nomination_title {
    width: 60%;
    height: 78%;
    text-align: left;
  }
  .nomination_title img {
    width: 100%;
  }
  .nomination_title h3 {
    position: relative;
    bottom: 70%;
    text-align: left;
    font-size: 30px;
  }
  .nomination .oscars_logo {
    position: relative;
    height: 28%;
    width: 16%;
  }
}
@media (min-width: 300px) and (max-width: 768px) {
  a.site-title {
    left: 1%;
    font-size: 17px !important;
    padding-top: 15px;
  }
  .burger {
    cursor: pointer;
    margin-left: 85%;
    margin-top: 2%;
  }
  .site-header {
    background-color: #FFD5A2;
    height: 80px;
  }
  .main-navigation .nav_menu {
    display: flex;
    height: 50%;
  }
  .nav_link {
    font-size: 16px;
  }
  .orchid_burger {
    left: 10%;
  }
  .orchid_burger,
  .sunflower_burger,
  .flower_burger,
  .random_flower_burger,
  .hibiscus_burger,
  .purple_cat,
  .grey_cat,
  .orange_cat {
    max-width: 50px;
  }
  .sunflower_burger {
    left: 80%;
  }
  .flower_burger {
    left: 10%;
  }
  .copyr_menu {
    height: 44%;
  }
}
.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
  overflow: hidden;
}
.story #place h3 {
  margin-bottom: -7em;
}
.story #place img {
  position: absolute;
  transform: translateX(var(--cloudsPositionX, 0px));
}
.story #place img.clouds {
  position: relative;
  left: 60%;
}

a.site-title {
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
}

.burger {
  cursor: pointer;
  margin-left: 85%;
  margin-top: -2%;
}

.burger.active .top_bar {
  transform: translateY(8px) rotate(45deg);
}

.burger.active .middle_bar {
  opacity: 0;
}

.burger.active .bottom_bar {
  transform: translateY(-8px) rotate(-45deg);
}

.burger .top_bar,
.burger .middle_bar,
.burger .bottom_bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.nav_menu,
.logo_menu,
.flowers_menu,
.cats_menu,
.copyr_menu {
  position: fixed;
  top: -300%;
  left: 0;
  flex-direction: column;
  background-color: #FFF5E9;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  pointer-events: none;
}

.nav_menu.active,
.logo_menu.active,
.flowers_menu.active,
.cats_menu.active,
.copyr_menu.active {
  left: 0;
  top: 80px;
}

.nav_container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
}

.nav_link {
  font-size: 35px;
  transition: 0.7s ease;
  pointer-events: auto;
}

.nav_link:hover {
  color: black;
  text-shadow: 0 0 10px #FF5C00;
  transition: opacity 0.3s;
}

.logo_menu {
  display: flex;
  align-items: center;
}

.logo_mini {
  width: 200px;
  height: auto;
}

.orchid_burger,
.sunflower_burger,
.flower_burger,
.random_flower_burger,
.hibiscus_burger {
  position: absolute;
  animation: rotate_flower 16s linear infinite;
  height: auto;
}

.orchid_burger {
  top: 50px;
  left: -55px;
  width: 150px;
}

.sunflower_burger {
  top: 60px;
  left: 70%;
  width: 180px;
}

.flower_burger {
  top: 380px;
  left: 20%;
  width: 50px;
}

.random_flower_burger {
  top: 300px;
  right: -20px;
  width: 55px;
}

.hibiscus_burger {
  top: 525px;
  right: -220px;
  width: 30%;
}

.purple_cat,
.grey_cat,
.orange_cat {
  position: absolute;
  height: auto;
}

.purple_cat {
  top: 130px;
  left: 20%;
  width: 120px;
  animation: floating_purple_cat 7s 1.5s infinite ease-in-out;
}

.grey_cat {
  top: 350px;
  left: 70%;
  width: 130px;
  animation: floating_grey_cat 7s 1.5s infinite ease-in-out;
}

.orange_cat {
  top: 550px;
  left: 7%;
  width: 95px;
  animation: floating_orange_cat 7s 1.5s infinite ease-in-out;
}

@keyframes floating_purple_cat {
  0% {
    transform: translate3d(-5px, 10px, 0);
  }
  15% {
    transform: translate3d(8px, -7px, 0);
  }
  50% {
    transform: translate3d(-5px, 2px, 0);
  }
  70% {
    transform: translate3d(8px, -12px, 0);
  }
  100% {
    transform: translate3d(-5px, 10px, 0);
  }
}
@keyframes floating_grey_cat {
  0% {
    transform: translate3d(10px, 5px, 0);
  }
  15% {
    transform: translate3d(0px, -14px, 0);
  }
  40% {
    transform: translate3d(5px, 0px, 0);
  }
  50% {
    transform: translate3d(-8px, 12px, 0);
  }
  70% {
    transform: translate3d(8px, -8px, 0);
  }
  88% {
    transform: translate3d(4px, 2px, 0);
  }
  100% {
    transform: translate3d(10px, 5px, 0);
  }
}
@keyframes floating_orange_cat {
  0% {
    transform: translate3d(3px, 5px, 0);
  }
  15% {
    transform: translate3d(-7px, -14px, 0);
  }
  70% {
    transform: translate3d(-7px, 0px, 0);
  }
  100% {
    transform: translate3d(3px, 5px, 0);
  }
}
.copyr_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
  background: transparent;
}

.copyr_burger {
  font-size: 16px;
}

/*# sourceMappingURL=theme.css.map */
