.story #place {
    background-image: url("../assets/images/Studio_Koukaki-image_place.png");
    overflow: hidden;

    h3 {
        margin-bottom: -7em;
    }

    img {
        position: absolute;
        transform: translateX(var(--cloudsPositionX, 0px));

        &.clouds {
            position: relative;
            left: 60%;
        }
    }
}